:root {
  --color-text-white-1: #fff;
  --color-text-white-2: #B4DCFD;
  --color-text-1: #394D5E;
  --color-text-2: #9496AD;
  --color-text-3: #3FA6FA;
  --color-text-4: #92ABCC;
  --color-text-5: #2DA1FF;
  --color-text-6: #7F9DC6;
  --color-text-7: #7A8894;
  --color-btn: #1C96FA;
  --color-btn-2: #EA0C0E;
  --color-btn-3: #3FA6FA;
  --color-btn-4: #E9EDF5;
  --color-border-1: #E3E3EA;
  --color-border-2: #3264fe;
  --color-border-3: #3FA6FA;
  --color-border-4: #D0D9EA;
  --color-border-5: #394D5E;

  --color-border-white-1: #fff;

  --color-bg-1: #1C96FA;

  --color-bg-2: #3264fe;
  --color-bg-3: #CFD9E6;
  --color-bg-4: #EDF0F7;
  --color-bg-5: #E2F2FE;
  --color-bg-6: #3FA6FA;
  --color-bg-7: #F8F9FD;



  --color-bg-white-1: #F8F9FD;
  --color-bg-white-2: #fff;
  --height-header: 67px;
  --height-index-header: 67px;
  // @media (min-width:768px) {
  // --height-header: 110px;
  // }
}